PathName "Base"
PathTXName "TX"
Path.L_tx.lat 49.67
Path.L_tx.lng 6.32
TXAntFilePath "ISOTROPIC"
TXGOS 0.0
PathRXName "RX"
Path.L_rx.lat 51.12
Path.L_rx.lng 7.27
RXAntFilePath "ISOTROPIC"
RXGOS 0.0
AntennaOrientation "TX2RX"
Path.year 1985
Path.month 5
Path.hour 20
Path.SSN 18
Path.frequency 6.1
Path.txpower 0.0
Path.BW 1000.0
Path.SNRr 10.0
Path.SNRXXp 10
Path.ManMadeNoise "RURAL"
Path.Modulation "ANALOG"
Path.SIRr 23.76
Path.A 0.0
Path.TW 0.0
Path.FW 0.0
Path.T0 0.0
Path.F0 0.0
Path.SorL "SHORTPATH"
RptFileFormat "RPT_OCR"
LL.lat 51.12
LL.lng 7.27
LR.lat 51.12
LR.lng 7.27
UL.lat 51.12
UL.lng 7.27
UR.lat 51.12
UR.lng 7.27
latinc 1.0
lnginc 1.0
DataFilePath "@DATA@"
