PathName "t"
PathTXName "T"
Path.L_tx.lat @TLA@
Path.L_tx.lng @TLO@
TXAntFilePath "ISOTROPIC"
TXGOS 0.0
TXBearing 0.0
PathRXName "R"
Path.L_rx.lat @RLA@
Path.L_rx.lng @RLO@
RXAntFilePath "ISOTROPIC"
RXGOS 0.0
RXBearing 0.0
AntennaOrientation "TX2RX"
Path.year 2018
Path.month @MON@
Path.hour @HRS@
Path.SSN @SSN@
Path.frequency @FRQ@
Path.txpower @PWR@
Path.BW 3000.0
Path.SNRr 17.0
Path.Relr 90
Path.SNRXXp 90
Path.ManMadeNoise "@NOISE@"
Path.Modulation "@MOD@"
Path.SIRr -20.0
Path.A 20.0
Path.TW @TW@
Path.FW @FW@
Path.T0 0.5
Path.F0 1.0
Path.SorL "@SORL@"
RptFilePath "./"
RptFileFormat "RPT_D | RPT_PR | RPT_SNR | RPT_SIR | RPT_BCR | RPT_MIR | RPT_OCR | RPT_OCRS | RPT_RSN | RPT_DOMMODE | RPT_BMUF | RPT_OPMUF | RPT_ALLMODES"
LL.lat @RLA@
LL.lng @RLO@
LR.lat @RLA@
LR.lng @RLO@
UL.lat @RLA@
UL.lng @RLO@
UR.lat @RLA@
UR.lng @RLO@
latinc 1.0
lnginc 1.0
DataFilePath "@DATA@"
