PathName "Base"
PathTXName "TX"
Path.L_tx.lat 49.67
Path.L_tx.lng 6.32
TXAntFilePath "ISOTROPIC"
TXGOS 0.0
PathRXName "RX"
Path.L_rx.lat 22.57
Path.L_rx.lng 88.36
RXAntFilePath "ISOTROPIC"
RXGOS 0.0
AntennaOrientation "TX2RX"
Path.year 1985
Path.month 5
Path.hour 20
Path.SSN 18
Path.frequency 6.1
Path.txpower 0.0
Path.BW 1000.0
Path.SNRr 10.0
Path.SNRXXp 10
Path.ManMadeNoise "RURAL"
Path.Modulation "ANALOG"
Path.SIRr 23.76
Path.A 0.0
Path.TW 0.0
Path.FW 0.0
Path.T0 0.0
Path.F0 0.0
Path.SorL "SHORTPATH"
RptFileFormat "RPT_DUMPPATH"
LL.lat 22.57
LL.lng 88.36
LR.lat 22.57
LR.lng 88.36
UL.lat 22.57
UL.lng 88.36
UR.lat 22.57
UR.lng 88.36
latinc 1.0
lnginc 1.0
DataFilePath "@DATA@"
